  <a href="Auxiliary">[Up: Auxiliary]</a><br><br>

<h3>Show Active Object</h3>
<br>
<p text align = justify>
The selected (clicked) object on the canvas is the active object. Object-specific editing actions (mouse and mouse-wheel movements, <a href="EditFrame"><b>EditFrame</b></a>) will refer to the active objects. In order to indicate which object on the canvas is the active one, <i>FeynGame</i> provides the <i>Show active object</i> feature. If it is switched on (toggle with "a", or <b>View > Highlight active object</a>), the active object will be marked by a moving dash pattern.</p>
