<a href="ModelFile">[Up: ModelFile]</a><br><br>

<h3>Apply model to canvas</h3>
<br>
<p text align = justify>
  Given a diagram in the canvas which was drawn within some model, one can transform it into the current model using <b>Model > Apply model to canvas</b>. This assumes that the two models used the same particle identifiers (like "e,E" for the electron, see above).</b>

<p text align = justify>
  Given a <i>qgraf</i> Model File, one can generate a <i>FeynGame</i> Model File
  using <b>Model > Import qgraf model</b>. This will select default line styles for each particle identifier. From here, the user can design their own line styles by clicking a tile, opening the <a href="EditFrame"><b>Edit Frame</b></a>, modifying the line, and then saving the model using <b>Model > Save model file</b> or <b>Model > Save model file as</b>.
