  <a href="Customization">[Up: Customization]</a><br><br>

<h3>Auxiliary Features</h3>
<br>
&bull; <a href="Grid">Grid</a><br>
&bull; <a href="HelperLines">Helper lines</a><br>
&bull; <a href="ActiveObject">Show active object</a><br>
&bull; <a href="PlusTile">"+" Tile</a><br>
&bull; <a href="Clipping">Clipping</a><br>

