  <a href="Export">[Up: Exporting]</a><br><br>

<h3>Export to Clipboard</h3>
<br>
<p text align = justify>
In addition to <a href="Export"><b>Exporting to an image file</b></a>, the diagram can be exported to the clipboard using <b>File > Export to clipboard</b>.  This makes it particularly convenient to supply <i>PowerPoint</i> or <i>Keynote</i> presentations with diagrams. In contrast to a simple screen shot (using the operating system), the background of the image can be chose to be transparent in this case.</p>
