<a href="ModelFile">[Up: ModelFile]</a><br><br>

<h3>Create a new Model File</h3>
<br>
<p text align = justify>
A convenient option to modify the <i>Model File</i> is to modify the
 appearance of an existing line within <i>FeynGame</i> (for example by using
 <a href="EditFrame"><b>Edit Frame</b></a>), and then selecting
 the <a href="PlusTile"><b>"+" tile</b></a> in the main window.</p>
<br>
<p text align = justify>
To create a completely new Model File, one can do so manually by creating
 a ".model" file and editing it in a text editor. Another way is to draw a
 diagram onto the canvas and then pressing <b>Model > Convert canvas to model</b>.
 This will create a new model that contains all the objects that are drawn
 on the canvas. It also derives the Feynman rules from the vertices that are
 present on the canvas. It should be noted that lines and vertices are considered
 to be of the same <i>type</i> even if they have different descriptions.</p>
<br>
<p text align = justify>
One can also create a new model by merging several of the opened models by
 pressing <b>File > Merge models </b>. This opens another window where one can
 select the models that should be merged. Upon confirmation the new merged model
 will appear as one of the model tabs. The models that were merged remain unchanged</p>

<p text align = justify>
The style of a diagram loaded from a <a href="Save"><b>*.fg</b></a> file is independent of the current model. One can generate a model which contains all the lines of the diagram in the canvas using <b>Model > Convert canvas to model</b>. </p>

<p text align = justify>
  Given a diagram in the canvas which was drawn within some model, one can transform it into the current model using <b>Model > Apply model to canvas</b>. This assumes that the two models used the same particle identifiers (like "e,E" for the electron, see above).</b>

<p text align = justify>
  Given a <i>qgraf</i> Model File, one can generate a <i>FeynGame</i> Model File
  using <b>Model > Import qgraf model</b>. This will select default line styles for each particle identifier. From here, the user can design their own line styles by clicking a tile, opening the <a href="EditFrame"><b>Edit Frame</b></a>, modifying the line, and then saving the model using <b>Model > Save model file</b> or <b>Model > Save model file as</b>.
