
  <a href="Help">[Up: Main Help]</a><br><br>

<h3>Drawing Diagrams</h3>
<br>
&bull; <a href="Lines">Drawing lines</a><br>
&bull; <a href="Vertices">Drawing vertices</a><br>
&bull; <a href="Tadpoles">Drawing tadpoles and closed loops</a><br>
&bull; <a href="Shapes">Drawing shapes</a><br>
&bull; <a href="EditFrame">Modifying objects with <i>EditFrame</i></a><br>
&bull; <a href="MultiEdit">Selecting and editing multiple objects at once</a><br>
