  <a href="Draw">[Up: Drawing]</a><br><br>

<h3>EditFrame</h3>
<br>
<p text align = justify>
Even though almost all of the line and vertex marker properties are accessible through keyboard shortcuts, <i>FeynGame</i> also provides a graphical interface to these properties, the so-called <i>EditFrame</i>. It opens upon pressing "e" or via the menu <b>View > Open/Close EditFrame</b>, and always refers to the active object.
</p>
<br>
<p text align = justify>
The adjustment of geometrical parameters through <i>EditFrame</i> overrules the grid and all clipping settings. This means that it is always possible to change these parameters pixel wise using <i>EditFrame</i>.</p>
