<a href="Export">[Up: Exporting]</a><br><br>

<h3>Export to File</h3>
<br>

<p text align="justify">
A diagram can be exported to a file in various formats using <b>File > Export</b> from the menu. None of the <a href="Auxiliary">auxiliary features</a> will be exported, only the plain diagram will be visible.
</p>
<br>
<p text align="justify">
  By default, the boundaries of the exported diagram are determined automatically by the area on the canvas where objects are drawn. These boundaries can be
  modified by activating the <i>bounding box</i> via <b>Layout > Show bounding box</b> and dragging the bounding box accordingly. Saving the diagram to a <b>.fg</b> file will also save the bounding box. Another way to configure the bounding box is via <b>Layout > Configure bounding box</b>.
</p>
<br>
<p text align="justify">
  <b>File > Export</b> will open a dialog box which allows one to adjust various parameters, such as <i>Export in black/white</i> or <i>Landscape</i>.
</p>
