  <a href="Auxiliary">[Up: Auxiliary]</a><br><br>

<h3>Grid</h3>
<br>
<p text align = justify>
If the grid is switched on (toggle with "g"), lines and vertices will be "clipping" to this grid. (This applies only to newly positioned objects. The position of objects already on the canvas will not be altered by switching on the grid.) This means that the endpoints of lines, or the centre of <a href="Vertices"><b>free-floating objects</b></a>, are placed at a grid point if one moves them close to the grid point.</p>
<br>
<p text align = justify>
The grid points are shown on the canvas, but are not included when the diagram is exported as an image or a PDF. As of FeynGame version 3, the grid actually consists of two grids with different density, marked by different grid markers. This significantly simplifies the relative positioning of objects. The spacing of the grid points can be changed from the menu <b>View > In(De)crease grid spacing</b>, or through the associated keyboard shortcut, see <b>View > Show keyboard shortcuts</b>.</p>
<br>
<p text align = justify>
In addition to the visible grid points on the canvas, every line on the canvas introduces a "local" set of grid points along this line, roughly at the same distance as the visible grid points on the canvas. If the grid is active, lines can be connected with one another only at these line-specific grid points.</p>
<br>
<p text align = justify>
Sometimes one may want to have an object to be located off the grid. This can be achieved either by temporarily switching off the grid (by pressing "g"). An object placed without the grid will remain at its (possibly off-grid) position even after the grid is switched back on. The other option to place an object off the grid is via <a href="EditFrame"><b>EditFrame</b></a>, which allows one to specify the coordinates of the object in pixels.</p>
