  <a href="Auxiliary">[Up: Auxiliary]</a><br><br>

<h3>Helper Lines</h3>
<br>
<p text align = justify>
This is a feature which indicates whether you are in the "active range" of an object, i.e., whether clicking the canvas at this point will make an object active, and whether this will allow to move an entire line or just its end, etc.. Helper lines are only visible on the canvas, they will not be <a href="Export"><b>exported</b></a>.
