<a href="Auxiliary">[Up: Customization]</a><br><br>

<h3>Model File</h3>
<br>
<p text align = justify>
It is part of the philosophy of <i>FeynGame</i> to use a pre-defined
 model (say, QED, the Standard Model, the MSSM, or a subset of the
 associated particles) where each particle corresponds to a line with a
 certain appearance.  This makes it particularly efficient to draw a
 particular diagram, because the different line styles for the individual
 particles have been defined beforehand, using the <i>model
    file</i>. The <i>current model</i> is indicated by the set of tiles below the <i>FeynGame</i> canvas.</p>

<p text align = justify>
  Without any command line options, <i>FeynGame</i> uses the default <i>Model File</i>. On the other hand, starting <i>FeynGame</i> by giving it the name of the <i>Model File</i>
 as argument (including its path) will load the specific model instead of
 the default one. It is possible to open additional <i>Model Files</i> by
 either pressing the &#10010 right next to the tabs representing the
 currently opened <i>Model Files</i> or via <b>Model > Load model file</b>.
 This lets one select a new <i>Model File</i> to open. The new Model File is added to the list of <i>Model Files</i> and can be activated by pressing the corresponding tab. One can press the &#10006 on
 a tab to close the corresponding <i>Model File</i> and remove it from the
  list of <i>Model Files</i>.</p>

<br> &bull; <a href="CreateModel">Creating your own model</a>
<br> &bull; <a href="ApplyModel">Applying model to diagram</a>
<br> &bull; <a href="QgrafModel">Converting qgraf to FeynGame model file</a>
