<br>
<h3>The Philosophy of <i>FeynGame</i></h3>
<br>
<p text align = justify>
The purpose of <i>FeynGame</i> is two-fold: on the one hand, it should allow to draw Feynman diagrams of high quality in a very fast manner. It is thus well-suited for quickly supplying <i>Keynote</i> or <i>PowerPoint</i> presentations with Feynman diagrams through a simple cut-and-paste operation. Nevertheless, <i>FeynGame</i> also allows one to <a href="Export"><b>export</b></a> the diagrams as PDF vector graphic, which can then be included in manuscripts for books, scientific papers, or other type-set documents.
</p>
<br>
<p text align = justify>
The second purpose of <i>FeynGame</i> is educational: since its 
usage is based on <a href="Modelfile"><b>particle models</b></a> (QED, SM, etc.), it can check whether 
a particular Feynman diagram is consistent with the underlying 
model. This provides the basis for playing games with Feynman 
diagrams. The current version of <i>FeynGame</i> contains the game <i>InFin</i>, where 
the player is asked to turn a random pair of initial and final states 
into a valid connected Feynman diagram. We believe that this may help to 
bring the concept of Feynman diagrams closer to high-school students or 
undergraduates. Forthcoming versions of <i>FeynGame</i> will include further 
games.
</p>
