<a href="Save">[Up: Saving]</a><br><br>

<h3>Print</h3>
<br>
<p text align = justify>
The process of printing a file is the same as for <a href="PDF"><b>Exporting to PDF / PostScript</b></a>, which eventually is just printing to a file.</p>
