<a href="ModelFile">[Up: ModelFile]</a><br><br>

<h3>Convert qgraf model file</h3>
<p text align = justify>
  Given a <i>qgraf</i> Model File, one can generate a <i>FeynGame</i> Model File
  using <b>Model > Import qgraf model</b>. This will select default line styles for each particle identifier. From here, the user can design their own line styles by clicking a tile, opening the <a href="EditFrame"><b>Edit Frame</b></a>, modifying the line, and then saving the model using <b>Model > Save model file</b> or <b>Model > Save model file as</b>.
