<a href="Draw">[Up: Drawing]</a><br><br>

<h3>Shapes</h3>
<br>
<p text align = justify>
  <b>Edit > Add new shape</b> pastes a <i>shape</i> onto the canvas. Currently,
  possible <i>shapes</i> are ovals and rectangles. It is useful to switch on
  the <a href="HelperLines"><b>Helper Lines</b></a> in order to move, scale, or rotate the objects. They behave in many ways like <a href="Line"><b>Lines</b></a>, but can be filled with a pattern or a color, for example, with the help of
the <a href="EditFrame">EditFrame</a>.</p>
  <br>
