  <a href="Draw">[Up: Drawing]</a><br><br>

<h3>Drawing Tadpoles and Circles</h3>
<br>
<p text align = justify>
A closed circle can be obtained by connecting the ends of a curved line with each other. One can "re-open" the circle and turn it back to a regular curved line simply by click-and-drag in the vicinity of the "glue point". Once one connects a (single) line to the circle, it becomes a tadpole diagram. While the actual position of the original circle does not change, its glue point gets identified with the new vertex.</p>
