  <a href="Draw">[Up: Drawing]</a><br><br>

<h3>Vertices</h3>
<br>
<p text align = justify>
<i>FeynGame</i> draws a default vertex marker every time a line is attached to another (see <a href="Lines"><b>Lines</b></a>).</p>
<p text align = justify>
  <br>Using <a href="EditFrame"><b>EditFrame</b></a>, the style of this marker can be modified. Turning the mouse wheel on an active vertex marker
changes its radius.</p>
<p text align = justify>
  <br>Dragging vertex marker which has lines attached to it drags the lines along with it. Copy/pasting a vertex marker creates a <i>free-floating</i> marker which can be moved freely on the canvas.</p>
<br>

<bf> &bull; <a href="Labels">Labels</a>
  
